<div class="container">
	<div class="row" id="body">
		<div class="header">
			<h3>　Matching User</h3>
		</div>
			<% @matchings.each do |match| %>
				<% if match.followed?(current_user).block == true %>
				<% else %>
					<div class="match_user">
						<div class="match_flame">
							<div class="user_top">
								<img src="<%= match.image_profile_id %>" , id="image_profile", width="100">
							</div>
							<div class="match_info">
								<ul>
									<li><%= match.nickname %></li>
									<li><%= match.prefecture %></li>
									<li><%= match.active_area %></li>
									<% if match.active_content == nil %>
										<li><div>　</div></li>
									<% else %>
										<li><%= match.active_content %></li>
									<% end %>
								</ul>
								<div class="info_link">
									<%= link_to "詳細", user_path(match.id), class:"btn btn-outline-dark" %>
								</div>
							</div>
						</div>
					</div>
				<% end %>
			<% end %>
	</div>
</div>

