<div class="container">
	<div class="row"  id="body">
		<div class="header">
			<h3>　User Info</h3>
	      <% flash.each do |name, msg| %>
	        <div class="alert alert-<%= name %>">
	          <%= msg %>
	        </div>
	      <% end %>
		</div>
		<div class="window-top" id="top">
			<%= render 'layouts/top_profile', user: @user, room: @room, room_id: @room_id, entry: @entry %>
		</div>
		<div class="window-bottom" id="bottom">
			<%= render 'layouts/bottom_profile', user: @user, like: @like %>
		</div>
		<% if @user != current_user %>
			<div class="user_block">
				<%= link_to "マッチング解除", relationship_path(@user), method: :patch, class:"btn btn-outline-dark" %>
			</div>
		<% else %>
		<% end %>
		<!-- マッチング機能諸注意　layouts/top_profileのボタンclickより発火 -->
		<div class="modal fade" id="caution" tabindex="-1"
		      role="dialog" aria-labelledby="label1" aria-hidden="true">
		  	<div class="modal-dialog" role="document">
			  	<div class="modal-content">
					<div class="modal-header">
						<div class="modal-title"><h3>諸注意</h3></div>
					</div>
			  		<div class="modal-body form-group">
			  			<ol>
			  				<li>１．</li>
			  				<li>必ず住まいの登録をしてください。<br>
			  					同じ都道府県の人とマッチングが可能になります。
			  				</li>
			  				<li><br></li>
			  				<li>２．</li>
			  				<li>
			  					プロフィール詳細変更より、<br>好きなゲームのジャンルを選択してください。<br>
			  					ひとつでも好きなゲームの種類が同じ人を見つけることが可能です。
			  				</li>
			  			</ol>
				  	</div>
				</div>
			</div>
		</div>
	</div>
</div>
