<div class="container">
	<div class="row admin_user_body" id="body">
		<div class="header">
			<h3>　All User</h3>
		</div>
		<div class="user_all">
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<td>User Id</td>
						<td>Nick Name</td>
						<td>Full Name</td>
						<td>Email</td>
					</tr>
				</thead>
				<% @users.each do |f| %>
				<tbody>
					<tr>
						<td><%= f.id %></td>
						<td><%= link_to "#{f.nickname}", admins_user_path(f.id) %></td>
						<td><%= f.first_name %><%= f.last_name %>(<%= f.first_name_kana %><%= f.last_name_kana %>)</td>
						<td><%= f.email %></td>
					</tr>
				</tbody>
				<% end %>
			</table>
			<%= paginate @users %>
		</div>
	</div>
</div>
