<div class="container">
	<div class="row dms_body" id="body">
		<div class="header">
			<h3>　DM Users</h3>
		</div>
		<div class="dms_all">
			<% @entry_users.order(id: "DESC").each do |entry| %>
				<% if entry.user.followed?(current_user).block == true %>
				<% else %>
					<% unless entry.room.messages.last == nil %>
						<div class="dms_users">
							<div class="dms_user_img col-2">
								<img src="<%= entry.user.image_profile_id %>" , id="image_profile", width="100">
							</div>
							<div class="dms_user_content col-10">
								<div class="dms_user_top">
									<%= link_to entry.user.nickname, user_path(entry.user) %><span>　/　</span>
									<%= link_to "DMを始める", room_path(entry.room), class:"btn btn-sm btn-outline-dark" %><span>　/　</span>
									<%= entry.room.messages.last.created_at.strftime("%Y-%m-%d %H:%M") %>
									<% if current_user.entries.find_by(room_id: entry.room_id).read == true %>
										<span>　/　</span><strong class="read2">未読あり</strong>
									<% end %>
								</div>
								<div class="dms_user_bottom d-block text-truncate">
									<%= entry.room.messages.last.content %>
								</div>
							</div>
						</div>
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>
