<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
	<div class="modal-header">
		<div class="modal-title"><h3>Change User Info</h3></div>
	</div>
	<%= form_with(model:@user, url:user_path(@user)) do |f| %>
  	<div class="modal-body form-group">
		<div class="field checkbox">
			<%= f.label :like_gamegenre %><br />
				<%= collection_check_boxes(:user, :gamegenre_ids, Gamegenre.all, :id, :gamegenre) do |box| %>
					<%= box.label {box.check_box + box.text} %>
				<% end %>
		</div>
		<br/>
		<div class="field">
			<%= f.label :introduction %><br />
			<%= f.text_area :introduction, placeholder: "自己紹介メッセージ", class:"form-control", id:"textarea" %>
		</div>
		<br/>
	    <div class="field">
	        <%= f.label :like_games %><br />
			<%= f.text_area :game_name, placeholder: "好きなゲーム", class:"form-control", id:"textarea" %>
	    </div>
  	</div>
  	<div class="modal-footer">
	    <div class="actions">
	    	<%= f.submit "変更する", class:"btn btn-sm btn-outline-dark" %>
	    </div>
  	</div>
	<% end %>
  </div>
</div>