<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
	<div class="modal-header">
		<div class="modal-title"><h3>Recommended User Info</h3></div>
	</div>
  	<div class="modal-body">
		<div class="match_top">
			<%= attachment_image_tag @user, :image_profile, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", id:"image_profile" %>
			<ul>
				<li><%= @user.nickname %></li>
				<li><%= @user.active_area %></li>
			</ul>
		</div>
	  	<%= @user.introduction %>
	  	<%= @user.game_name %>
  	</div>
  	<div class="modal-footer">
  	</div>
  </div>
</div>