<div class="left_profile">
	<table class="image_table">
		<tbody>
			<tr>
				<td>
					<div class="image_profile">
						<img src="<%=user.image_profile_id %>" , id="image_profile", width="180">
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div>
						<br/>
						<% if user == current_user %>
							<%= link_to "プロフィール変更", edit_user_path(@user), remote: true, class:"btn btn-outline-dark" %>
						<% else %>
							<% if room == true %>
								<%= link_to "DMを始める", room_path(room_id), class:"btn btn-outline-dark" %>
							<% else %>
								<%= form_for room do |r|  %>
									<%= fields_for entry do |e| %>
										<%= e.hidden_field :user_id, value: user.id %>
									<% end %>
								<%= r.submit "DMを始める", class:"btn btn-outline-dark" %>
								<% end %>
							<% end %>
						<% end %>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="right_profile">
	<table class="table table-sm info_table">
		<tbody>
			<tr>
				<th><span>ニックネーム</span></th>
				<td><%= user.nickname %></td>
			</tr>
			<tr>
				<th><span>住まい</span></th>
				<td><%= user.prefecture %></td>
			</tr>
			<tr>
				<th><span>主な活動範囲</span></th>
				<td><%= user.active_area %></td>
			</tr>
			<tr>
				<th><span>主な活動時間</span></th>
				<td><%= user.active_time %></td>
			</tr>
			<tr>
				<th><span>傾向</span></th>
				<td><%= user.active_content %></td>
			</tr>
		</tbody>
	</table>
</div>


