<!DOCTYPE html>
<html>
  <head>
    <title>GICOF</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/50e1df26d8.js" crossorigin="anonymous"></script>
    <% self_css_path = "/assets/"+controller.controller_name  %>
    <%= stylesheet_link_tag self_css_path, :media => "all" %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
  </head>
  <body>
    <header id="header" class="">
      <div>
        <%= link_to root_path do %>
        <i class="fas fa-gamepad">GICOF</i>
        <% end %>
      </div>
      <% if admin_signed_in? %>
        <div id="sp-menu">
          <ul>
            <li><%= link_to "新規登録", signup_path, remote: true %></li>
            <li><%= link_to "ログイン", signin_path, remote: true %></li>
            <li><a href="#">MENU3</a></li>
            <li><a href="#">MENU4</a></li>
            <li><a href="#">MENU5</a></li>
          </ul>
        </div>
      <% elsif user_signed_in? %>
        <div id="sp-menu">
          <ul>
            <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
            <li><%= link_to "ログイン", signin_path, remote: true %></li>
            <li><a href="#">MENU3</a></li>
            <li><a href="#">MENU4</a></li>
            <li><a href="#">MENU5</a></li>
          </ul>
        </div>
      <% else %>
        <div id="sp-menu">
          <ul>
            <li><%= link_to "新規登録", new_user_registration_path %></li>
            <li><%= link_to "ログイン", new_user_session_path %></li>
          </ul>
        </div>
      <% end %>
      <!-- --- ハンバーガーアイコン ----->
      <div id="hm-icon">
        <a class="menu-trigger" href="#">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>
    </header><!-- /header -->
     <div id="user-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
      <div class="wrapper">
        <%= yield %>
      </div>
    <footer id="footer">
    </footer>
  </body>
</html>
